* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body,
html {
	font-family: 'Arial', sans-serif;
	/* background:linear-gradient(to top, rgb(236 75 75), rgb(101 96 236)); */
	background: linear-gradient(to bottom, rgb(255 105 170), rgb(223, 153, 191), rgb(216, 177, 199));
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.container {
	/* background:linear-gradient(to left, rgb(221, 15, 15), rgb(36 28 225)); */
	display: flex;
	flex-direction: column;
	background: linear-gradient(to left, rgb(255 105 170), rgb(223, 153, 191));
	border-radius: 15px;
	padding: 20px;
	justify-content: space-evenly;
	width: 500px;
	height: 600px;
	text-align: center;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Search Bar */
.search-bar {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: space-evenly;
}

.search-bar input {
	width: 350px;
	height: 50px;
	padding: 10px;
	border: none;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.search-bar button {
	width: 50px;
	justify-content: center;
	text-align: center;
	align-items: center;
	background: #FFF;
	border: none;
	border-radius: 100px;
	cursor: pointer;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.search-bar button img {
	width: 20px;
}

/* Weather Info */
.weather-info h1 {
	font-size: 1.8rem;
	margin-bottom: 5px;
}

.weather-info h2 {
	font-size: 2.5rem;
	margin-bottom: 5px;
	color: #FFD700;
}

.weather-info p {
	margin-bottom: 10px;
	font-size: 1.2rem;
}

.weather-info img {
	width: 80px;
	margin: 10px auto;
}

/* Sun Details */
.sun-details {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin-top: 20px;
}

/* Weather details */
.weather-details {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	margin-top: 20px;
}

.detail {
	/* background: #4B0082; */
	padding: 10px;
	border-radius: 8px;
	text-align: center;
}

.detail img {
	width: 25px;
	margin-bottom: 5px;
}

.detail p {
	font-size: 0.9rem;
}